<!DOCTYPE html>
<html>
    <head>
        <title>Wanderlust</title>
    </head>
    <body>
    <h1>Welcome to Wanderlust</h1>
    <h2>Available Endpoints:</h2>
    <ul>
        <li><a href="/packages/{packageId}">/packages/{packageId}</a></li>
        <li><a href="/packages/{packageId}/passengers">/packages/{packageId}/passengers</a></li>
        <li><a href="/passengers/{passengerId}">/passengers/{passengerId}</a></li>
        <li><a href="/activities/available">/activities/available</a></li>
    </ul>
    <h3>Note</h3>
    <p>Please replace {packageId} and {passengerId} with the desired IDs (i.e., 1 to 7 for testing) while accessing the endpoints.</p>
    </body>
</html>
